/*

    Responsive breakpoints (https://getbootstrap.com/docs/5.0/layout/breakpoints/) : 
    - xsmall: < 576px (36rem)
    - small >= 576px (36rem)
    - medium >= 768px (48rem)
    - large >= 992px (62rem)
    - extra large >= 1200px (75rem)
    - extra, extra large >= 1400px (87.5rem)
*/
html, body {
    height: 100%;
    margin: 0;
}
* {
    border: solid 1px black;
}
body {
    box-sizing: border-box;
    display: grid;
    font-family: sans-serif;
    grid-template-areas: 
        "header header header"
        "beer-nav main beer-aside"
        "footer footer footer"
    ;
    grid-template-columns: 2rem 1fr 2rem;
    grid-template-rows: auto 1fr auto;
    margin: 0;
}

.beer-aside {
    grid-area: beer-aside
}

.beer-nav {
    grid-area: beer-nav
}
.form-field {
    display: flex;
}
.form-field > input {
    align-items: center;
    flex: 1 1 100%;
}
footer {
    background-color: #999;
    grid-area: footer;
    min-height: 3rem;
}
input {
    display: inline-block;
    min-height: 2rem;
}

label, input {
    display: block; 
}

noscript {
    background: #eee;
    border: solid 0.125rem black;
    display: block;
    margin: 0 auto;
    padding: 0 1rem;
    width: fit-content;
}
.page-header {
    display: flex;
    justify-content: space-between;
    grid-area: header;
}
.page-header > div {
    flex: 1 1 50%;
    max-width: 3rem;
}

@media screen and (min-width: 36rem) {
    input {
        display: inline-block;
        min-height: 2rem;
        min-width: 18rem;
    }
    main {
        grid-area: main;
        margin: 0 auto;
        max-width: 34rem;
        width: 100%;
        
    }

    #search_form_wrapper {
        margin: 0 auto;
        max-width: 20rem;
    }
}
